body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  overflow: hidden;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  pointer-events: none;
}


@media only screen and (max-width: 500px) {
.canvas-container {
  margin-bottom: -40px;
}
.canvas-container::after {
  display: none;
}
}


.SwitchCam {
display: flex;
flex-direction: column;
position: relative;
top: 26vh;
right: -90vw;
background: #AAAAAA;
border-radius: 10px;
width: 120px;
height: 50px;
font-size: 3em;
z-index: 20000;
pointer-events: all;
}

.SwitchCam > button {
margin: 10px;
padding: 5px 10px;
position: absolute;
left: 0;
bottom: 0;
width: 100px;
border-radius: 5px;
border: solid 2px white;
outline: none;
background: #AAAAAA;
color: Black;
cursor: pointer;
}


.WegButtonPopup{
position: absolute;
top: -93vh;
left: 45vw;
transform: translate(-50%, -50%);
color: #C60C0F;
background: #E8E8E8;
padding: 30px;
border-radius: 5px;
border: 10px;
box-shadow: 0 16px 40px -5px rgba(0, 0, 0, 0.5);
width: 420px;
height: 170px;
font-size: 1.2em;
z-index: 20000;
pointer-events: all;
}

.WegButton {
  position: absolute;
  top: -90vh;
  right: 91vw;
  color: #EA5B0C;
  background: #E8E8E8;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  height: 60px;
  font-size: 16px;
  z-index: 20000;
  pointer-events: all;
  }

  .formMitPadding {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  /*Button von Domenic*/ 
  .uiRoute{
    position: absolute;
    top: -95vh;
    right: -3vw;
    color: white;
    background: #E8E8E8;
    padding: 30px;
    border-radius: 10px;
    border: 10px;
    box-shadow: 0 16px 40px -5px rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 60px;
    font-size: 3em;
    width: 400px;
    height: 150px;
    font-size: 1em;
    z-index: 20000;
    pointer-events: all;
  }
  
  .uiRoute> button {
    margin: 10px;
    padding: 5px 10px;
    left: 0;
    bottom: 0;
    width: 100px;
    border-radius: 5px;
    border: solid 2px white;
    outline: none;
    background: transparent;
    color: white;
    cursor: pointer;
  }

  .treppeAufzug > button {
    margin: 10px;
    padding: 5px 10px;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #8C8C8C;
    color: white;
    cursor: pointer;
  }

  .berechnenButton{
    margin: 10px;
    padding: 5px 10px;
    left: 0;
    bottom: 0;
    width: 100px;
    border-radius: 5px;
    outline: none;
    background: #000000 !important;
    color: white;
    cursor: pointer;
  }

.main2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  pointer-events: none;
}

.main2 > div {
  position: relative;
  height: auto;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Etagen auswahl */

.etagen {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 0vh;
  right: -90vw;
  background: #AAAAAA;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  z-index: 20000;
  pointer-events: all;
}
  
.etagen > button {
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
  border: solid 2px white;
  outline: none;
  background: #AAAAAA;
  color: Black;
  cursor: pointer;
}

/* Burger Menu */

.burgerMenu {
  background-image: url(/public/icons/burgerIcon.svg);
  width: 28px;
  height: 25px;
  display: inline-block;
}

.burgerMenu.open {
  background-image: url(/public/icons/closeIcon.svg);
}

.menuOpen{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #E8E8E8;
  padding: 30px;
  border-radius: 10px;
  border: 10px;
  box-shadow: 0 16px 40px -5px rgba(0, 0, 0, 0.5) !important;
}